 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url("background img1.jpg") ;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


p{
    color: red;
}
h4{
    color: rgb(178, 250, 43);
}

.container{
    background-color: rgb(0,0,0,0.6);
    box-shadow: rgb(0,0,0) 0px 5px 15px;
    width: 400px;
}

.header{
    color: rgb(178, 250, 43);
    text-align: center;
    background-color: 0,0,0,0.5;
    padding: 20px 40px;
    border-bottom: 2px solid #494848;
}
small{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form{
    padding: 30px 40px;
}

.form-group{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    color: rgba(211, 245, 19, 0.863);
}

.form-group input{
    border: 4px solid #f0f0f0;
    display: block;
    border-radius: 4px;
    font-size: .8rem;
    width: 100%;
    padding: 10px;
    background-color: rgb(195, 250, 247);
}



.form input::placeholder{
    color: #2a0845;
}

.form-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}

.form-group span{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
    visibility: hidden;
}
select
{
    padding: 5%;
    width: 40%;
}


.form-group.success input{
    border-color: #2ecc71;
}

.form-group.error input{
    border-color: #e74c3c;
}

.form-group.error span{
    color: #e74c3c;
    visibility: visible;
}

.form-group.success i.ion-ios-checkmark{
    visibility: visible;
    color: #2ecc71;
}

.form-group.error i.ion-android-alert{
    visibility: visible;
    color: #e74c3c;
}

.form #submit{
    background-color: #adbe0d;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s;
}

.form #submit:hover{
    background-color: #6441a5;
}

@media only screen and (max-width : 500px){
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }

 
    
    
}